body{
	
	display:block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	
}
.bar {
	width: 100vw;
	height: 10vh;
	background-color: #FF5802;
}

.calendar-h {
	width: 100vw;
	height: 50vh;
	background-color: #FF9502;
	margin; auto;
	
}

.calendar {
	width: 25vw;
	height: 25vh;
	background-color: blue;
	position: absolute;
	top: 23%;
	left: 40%;
	
}

.stuff {
	width: 100vw;
	height: 50vh;
	background-color: #FF7802;
}
