body{
	
	display:flex;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	
}
.bar {
	width: 100vw;
	height: 10vh;
	background-color: #FF5802;
}

.calendar-h {
	width: 35vw;
	height: 100vh;
	background-color:#FF9502 ;
	display: block;
	justify-content: center;
	align-items: center;
	
}

.stuff {
	width: 65vw;
	height: 100vh;
	background-color: #FF7802;
	display: block;
}

.thing{
	width: 20vw;
	height: 10vh;
	background-color:blue; 
	border: 10px solid #FF9502;

}
